<div class="row justify-space-between-md">
  <div class="new-post-card">
    <h2 class="page-title">Add a Genre to the Site</h2>
    <form class="form new-post-form" id = "new-post-form">
    <div class="form-group">
        <label for="genre-name-input">Genre Name:</label>
        <input class="form-input" type="text" id="genre-name-input" name = "genre-name-input" placeholder = "Genre Name"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Add a Genre</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/genre.js"></script>