{{!-- <header class="hero">
  <h1 class="app-title">Profile</h1>
</header>

<main class="col-auto">
  <h2>Owned Books:</h2>
  {{#each OwnedBooks}}
    <div class="card">
      <h3>{{book.book_name}}</h3>
      <h4>{{book.author}}</h4>
    </div>
  {{/each}}
</main>

<a href="/account/newBook">➕ Click here to list a new book</a>

<script src="/js/logout.js"></script> --}}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <img
        src="https://cdn.pixabay.com/photo/2023/05/12/21/39/bird-7989376_960_720.jpg"
        class="img-fluid"
        alt="Product Image"
        width="600px"
      />
    </div>
    <div class="col-md-6">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h1 class="mb-3">Profile</h1>
          <form id="login-form" class="d-grid gap-2">
            <div class="form-group">
              <!-- <label for="emailInput">Email address</label> -->
              <h4><strong>Username:</strong> {{userData.name}}</h4>
            </div>
            <div class="form-group">
              <!-- <label for="passwordInput">Password</label> -->
              <h4><strong>Email: </strong>{{userData.email}}</h4>
            </div>
            <a href="/user/profile/newBook"><button class="btn btn-primary">Create new book</button></a>
          </form>
            <svg class="bi" aria-hidden="true"><use
                xlink:href="#arrow-right"
              ></use></svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/login.js"></script>