
.hero-image {
  background-image: url("https://placehold.co/1500x300");
  background-size: cover;
  height: 300px;
}

.hero-text {
  text-align: center;
  padding-top: 100px;
  color: white;
}

.card {
  margin-bottom: 1rem;
}

#show-more-btn {
  margin-bottom: 1rem;
}